/* General styles */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    cursor: pointer;
}
nav a:hover {
    text-decoration: underline;
}
section {
    margin-bottom: 20px;
    padding: 0 20px;
    display: none;
}
section.active {
    display: block;
}
section h2 {
    font-size: 1.8em;
    color: #666;
    border-bottom: 2px solid #333;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
p {
    font-size: 1.2em;
    line-height: 1.6;
}
.red-link {
    color: red;
    font-weight: bold;
}

/* Additional styles */
.color-bar {
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.photo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
